{% extends "entries/basee.html" %}

{% block content %} 

      <div class="col-md-8">
        <div class="card mb-4 mt-4">
          <div class="card-header">
            Delete Post
          </div>
          <h3>Delete: {{ entry.title }} </h3>
          <div class="card-body">
            <form method ="POST">
              {% csrf_token %}
              <strong>Are you sure?</strong>
              <button type="submit" class ="btn btn-primary">Delete</button>
            </form> 
          </div>
        </div>
      </div>
{% endblock %}